
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
    padding: 1em;
}
.header {
    display: flex;
    justify-content: space-between;
}

.container {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "courier", sans-serif;
    font-weight: 400;
    animation: fadeIn 3s ease forwards;
}

pre {
    border: none!important;
}
pre {
    border-left: solid black 1px!important;
    padding: 1em!important;
}
links {
    display: flex;
    flex-direction: column;
    position: relative;
}
a {
    appearance: none;
    text-decoration: none;
    color: rgb(37, 37, 37);
}

links > a {
    padding: 1em;
    margin: 1em;
    border-radius: .1em;    
    border: solid rgb(40, 40, 40) 1px;
    
    transition: all .5s;
    text-align: center;
}
links > a:hover {
    border: solid rgb(53, 148, 237) 1px;
    cursor: pointer;
    color: rgb(53, 148, 237);
    /* transform: scale(1.1); */
}

hr {
    width: 25%;
}
img {
    width: 100%;
}
article {
    text-align: left;
    width: 50%;
    animation: slideIn 2s ease forwards;
    position: relative;
}
article::before {
    content: attr(data-timestamp);
    position:inline;
    float: right;
    clear: right;
    font-size: .8em;
}
article > h3 {
    font-family: 'Courier', sans-serif;
}


.icon {
    padding: 0em .5em;
    font-size: 1.3em;
}
emoji {
    font-size: 2em;
    vertical-align: middle;
}

/* utilities */
.hover:hover {
    cursor: pointer;
    color: rgb(53, 148, 237);
    transform: scale(1.1);
    transition: all .2s ease;
}

@keyframes slideIn {
    from {transform: translateX(-25px);}
    to {transform: translateX(0px);}
}
@keyframes fadeIn {
    from {opacity: 0%}
    to {opacity: 100%}
}