:root {
  --main-color:rgba(255, 255, 255, 0.87);
  --secondary-color:rgb(147, 146, 146);
  --background-color: #202020;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--main-color);
  background-color: #242424;

}

html {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--main-color);
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
  
}

.hover:hover {
  color: rgb(82, 154, 254);
  cursor: pointer;
}

.icon {
  font-size: 20px;
  padding: .5em .5em;
}

.header-item {
  min-width: 15em;
  text-align: center;
  padding: 0em 1em;
}

.header {
  max-height: 3em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0em;
}

button {
  all: unset;
  padding: .5em 1em;
  cursor: pointer;
  transition: all .2s;
  margin: 0em .5em;
}